# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/src/Student.jsx
/src/Button.jsx
/src/Form.jsx
/src/List.jsx
/src/React2.jsx
/src/State.jsx
/src/Todolist1.jsx



node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
